{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block content %}


	<div class="x_blog_sidebar_main_wrapper float_left padding_tb_100">
		<div class="container">
			<div class="row">
				
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="x_carbooking_right_section_wrapper float_left">
						<div class="row">
							<div class="x_services_title_main_wrapper float_left padding_tb_10">
								<div class="container">
									<div class="row">
										<div class="col-md-12">
											<div class="x_offer_car_heading_wrapper x_offer_car_tb_heading_wrapper float_left">
												<h4>Flight Ticketting</h4>
												<h3>Flight Ticketing</h3>
												<!-- <p>Dashboard and Management console for Site Travel website</p> -->
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Package title -->
							<div class="col-md-12 my-4">
								<div class="card">
									<h5 class="card-header">Flight Details</h5>
									<div class="card-body">
									  <!-- <h5 class="card-title">Special title treatment</h5> -->
									  <p class="card-text">Flight: {{ flight.start |title }} to {{ flight.destination |title }} </p>
									</div>
								  </div>
							</div>
							<!-- card body-->
							<div class="col-md-12 my-4">
								<div class="card">
									<h5 class="card-header">Flight Booking</h5>
									<div class="card-body">
										<!-- Start multiStep Form -->
									<form id="msform" action="{% url 'stepsave' %}" method="POST">
										{% csrf_token %}
											<!-- progressbar -->
											<ul id="progressbar">
												<li class="active">Personal Details</li>
												<li>Social Profiles</li>
												<li>Account Setup</li>
											</ul>
											<!-- fieldsets -->
											<fieldset>
											<div class="col-12 col-md-8 offset-md-2">
												<p class="text-center">
													{% include 'includes/messages.html' %}
												</p>
											</div>
												<h2 class="fs-title">Personal Details</h2>
												<h3 class="fs-subtitle">Tell us something more about you</h3>
												<input type="text" name="full_name" placeholder="Full Name"/>
												<input type="text" name="email" placeholder="Email"/>
												<input type="text" name="telephone" placeholder="Telephone"/>
												<input type="text" name="country" placeholder="Country"/>
												<input type="button" name="next" class="next action-button" value="Next"/>
											</fieldset>
											<fieldset>
												<h2 class="fs-title">Trip details</h2>
												<h3 class="fs-subtitle">Your presence on the social network</h3>
												<input type="text" name="pickup" placeholder="Pickup"/>
												<input type="text" name="dropoff" placeholder="Dropoff"/>
												<input type="text" name="start" placeholder="Start"/>
												<input type="text" name="end" placeholder="End"/>
												<input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
												<input type="button" name="next" class="next action-button" value="Next"/>
											</fieldset>
											<fieldset>
												<h2 class="fs-title">More trip details</h2>
												<h3 class="fs-subtitle">Fill in your credentials</h3>
												<input type="text" name="slots" placeholder="Number of slots"/>
												<input type="text" name="driven_by" placeholder="Driven by"/>
												<input type="text" name="carhire_trip" placeholder="carhire trip"/>
												<input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
												<input type="submit" name="submit" class="submit action-button" value="submit"/>
											</fieldset>
										</form>
										<!-- End multiStep Form -->
									</div>
								  </div>
							</div>
	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
    